@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Teko:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}



body{
    margin: 0 0 0 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items:center ;
}

nav{
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins',sans-serif;
    font-size: larger;
    color: black;
}

input[type=radio] {
    border: 0px;
    width: 17px;
    height: 17px;
    margin-left: 15px;
}

.main{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_cont{
    margin-top: 5vh;
    width: 95%;
    height: 100px;
    background-color: #e2e1e15a;
    border-radius: 10px;
    display: flex;
}

.name,.uploadt,.pdfn,.download{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins',sans-serif;
    font-size: medium;
    font-weight: 800;
    flex-direction: column;
    position: relative;
}

.create{
    width: 150px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #84a98c;
    color: black;
    border: 1px solid #000000;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: small;
}

.create:hover{
    border: 2px #ffffff solid;
    cursor: pointer;

}

.create_main{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #84a98c;
    width: 1000px;
    height: 500px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.create_btn{
    position: absolute;
    bottom: 10px;
    width: 200px;
    height: 50px;
    background-color: #000000;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'poppins';
    cursor: pointer;
}

.ass_name{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-family: 'poppins',sans-serif;
    font-size: medium;
}

.assign_name{
    width:50%;
    height: 40px;
    border: 2px solid black;
    outline: none;
    border-radius: 5px;
    letter-spacing: 0.2px;
}

.time_cont,.type_cont{
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: 20px;
}

.ass_date,.ass_time,.nopeople,.ass_nopdf{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins',sans-serif;
}

.ass_date{
    border-right: 2px solid #00000065;
}

.nopeople{
    border-right: 2px solid #00000065;

}



























































.n_n{
    font-size: small;
    position: absolute;
    top:10px;
    color: #00000077;
}

.linkbtn{
    text-decoration: none;
    width: 70%;
    height: 50%;
    color: #ffffff;
}
.download_btn{
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


