@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Teko:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}



body{
    margin: 0 0 0 0;
    background-color: #ffffff;
}


input[type=radio] {
    border: 0px;
    width: 17px;
    height: 17px;
    margin-left: 15px;
}


nav{
    width: 100%;
    height: 15vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav span{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}


.admin{
    font-size: 20px;
    position: absolute;
    top: calc(7.5vh - 22px);
    right: 25px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'poppins',sans-serif;
}

.admin:hover{
    color: yellow;
}

.main_wrapper{
    width: 100%;
    height: 85vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_cont{
    width: 60%;
    height: 40%;
    background-color: #343A40;
    border-radius: 20px;
}


.name_cont{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rollnumber{
    width: 50%;
    height: 30px;
    outline: none;
    font-family: 'poppins',sans-serif;
    border-radius: 5px;
    border: none;
}


.upload_cont{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}



.upload{
    height: 50px;
    width: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    font-family: 'poppins',sans-serif;
    font-size: medium;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 30px;
    z-index: 1;
    position: relative;
}

.upload:hover{
    background-color: #ffffffbf;
}

.up{
    z-index: 999;
    width: 100px;
    height: 40px;
    background-color: #343A40;
    color: #343A40;
    margin-bottom: 10px;
    cursor: pointer;
}
