@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Teko:wght@300&display=swap');

html{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}



body{
    margin: 0 0 0 0;
    background-color: #000000;
    -webkit-tap-highlight-color: transparent;


}


.main{
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}


.main_cont{
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow-x:hidden;
    overflow-y: hidden;
}

.file_cont{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: translateX(100%);
    transition: all 1s linear;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inpup{
    width: 100%;
    height: 10%;
    display: flex;
    background-color: #1F1F1F;
    border-radius: 20px;
}

.fileupload_cont{
    width: 100%;
    height: 88%;
    background-color: #1F1F1F;
    border-radius: 20px;
    margin-top:2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name_up{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.names{
    width: 90%;
    height: 60%;
    border-radius: 5px;
    outline: none;
    font-family: 'poppins',sans-serif ;
    color: #000000;
}

.upload_cont{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadtxt{
    color: #E6756D;
    font-family:'poppins',sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 5px;
}

.upload_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 70%;
    height: 45px;
    background-color: #e55c52;
    position: relative;
    color: #000000;
    cursor: pointer;
    font-family: 'poppins',sans-serif;
    font-size: small;
}

.backhome{
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 200px;
    height: 45px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    font-family: 'poppins',sans-serif;
    font-size: small;
}

.upload_btn:hover{
    background-color: #e55c52a5;
}

.uploadwish{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 999;
    background-color: #000000;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: none;
}
.congspan{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.active_sub_cont{
    width: 99%;
    height: 100px;
    background-color: #1F1F1F;
    border: 0.01px solid #b6b5b52f;
    border-radius: 20px;
    display: flex;

}

.uploadwish{
    font-family: 'poppins',sans-serif;
    font-size: larger;
    color: #7209b7;
}

.goo{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 200px;
    height: 45px;
    background-color: #7209b7;
    position: relative;
    color: #ffffff;
    cursor: pointer;
    font-family: 'poppins',sans-serif;
    font-size: small;
}

.sh{
    position: absolute;
    top: 10px;
    font-size: small;
    color: #fafafa69;
}


.sub_name,.sub_time,.sub_open{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 100%;
    color: white;
    font-family: 'poppins',sans-serif;
    font-size: large;
    font-weight: 500;
    position: relative;
}

.open{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    background-color: #0077b6;
    position: relative;
    color: #ffffff;
    cursor: pointer;
}

.sub_file{
    width: calc(60% + 15px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.open:hover{
    background-color: #0076b683;
}

.lds-ring {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 2px;

  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 4px;
    border: 4px solid #000000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000000 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  


.status_bar{
    position: absolute;
    left: 20px;
    width: 70px;
    height: 400px;
    background-color: #1F1F1F;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.progress{
    position: absolute;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: #0077b6;
    transition: all 1s linear;
}

.progresss{
    position: absolute;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: #0077b6;
}
.circle{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0077b6;
    flex-direction: column;
    font-family: 'teko',sans-serif;
    font-size: smaller;
}

.status{
    width: 5px;
    height: 80px;
    background-color: #000000;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.uploadwrapper{
    width: 60%;
    height: 60px;
    background-color: #000000;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 18, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.svgg{
    width: 50px;
    height: 50px;
    background-color: #014e8648;
    border-radius: 12px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.typess{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    font-family: 'poppins',sans-serif;
    font-size: small;
}


.choosecont{
    width: calc(40% - 15px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active_sub_cont_mob{
    display: none;
}


.choose{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 70%;
    height: 45px;
    background-color:#0077b6 ;
    position: relative;
    color: #ffffff;
    cursor: pointer;
    font-family: 'poppins',sans-serif;
    font-size: small;
}

.choose:hover{
    background-color:#0076b68f ;

}

.file{
    width: 0;
    height: 0;
    background-color: transparent;
    color: transparent;
}

.hiddensvg{
    display: none;
}


@media screen and (max-width:980px) {


    .status_bar{
        top: 0;
        left: auto;
        width: 400px;
        height: 70px;
        flex-direction: row;
    }

    .circle{
        width: fit-content;
        height: 100%;
    }

    .status{
        height: 4px;
        width: 80px;
    }
    .progress,.progresss{
        height: 100%;
        width: 0%;
    }

    .main_cont{
        margin-top: 40px;
    }
}

@media screen and (max-width:906px) {
    .open{
        display: none;
    }
    .active_sub_cont{
        display: none;
    }

    .active_sub_cont_mob{
        width: 99%;
        height: 200px;
        background-color: #1F1F1F;
        border: 0.01px solid #b6b5b52f;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .subs_cont{
        width: 100%;
        height: 100px;
        background-color: #1F1F1F;
        display: flex;
    }

    .sub_name_mo{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: 'poppins',sans-serif;
        font-size: large;
        font-weight: 500;
        position: relative;
        width: 50%;
        height: 100%;
    }

    .open_mob{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        width: 200px;
        height: 50px;
        background-color: #0077b6;
        font-family: 'poppins',sans-serif;
        position: relative;
        color: #ffffff;
        cursor: pointer;
    }

    .sub_time_mo{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: 'poppins',sans-serif;
        font-size: large;
        font-weight: 500;
        position: relative;
        width: 50%;
        height: 100%;
    }

    .mob_open{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width:410px) {
    .status_bar{
        width: 300px;
        height: 70px;
        flex-direction: row;
    }
    
    .status{
        height: 2px;
        width: 60px;
    }
}

@media screen and (max-width:605px) {
    .active_sub_cont_mob{
        height: 220px;
    }
    .subs_cont{
        flex-direction: column;
        height: 70%;
    }
    .sub_name_mo,.sub_time_mo{
        width: 100%;
        height: 125px;
    }

    .mob_open{
        height: 30%;
    }

    .mob_project,.mob_time{
        margin-top: 10px;
    }
}

@media screen and (max-width:480px) {
    .main_cont{
        width: 90%;
    }
}


@media screen and (max-width:798px) {
    .inpup{
        height: 20%;
        flex-direction: column;
    }
    .name_up{
        width: 100%;
        height: 50%;
        justify-content: center;
    }

    .upload_cont{
        width: 100%;
        height: 50%;
    }

    .names{
        width: 80%;
        margin-left: 5px;
    }

    .uploadwrapper{
        width: 90%;
    }


}

@media screen and (max-width:520px) {
    .uploadwrapper{
        flex-direction: column;
        height: 120px;
        position: relative;
    }
    .sub_file{
        width: 100%;
        height: 60px;
        justify-content: center;
    }

    .inpup{
        background-color: #000000;
    }
    .svgg{
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .typess{
        width: fit-content;
    }


    .choosecont{
        width: 100%;
        height: 60px;
    }
}